.cursor-pointer {
  cursor: pointer;
}
.ql-snow.ql-toolbar {
  background-color: #f1f1f1;
}
.ql-container {
  height: 250px !important;
}
.resopnsive-width {
  width: 50%;
  margin-left: 30px;
}
.footer a {
  text-decoration: none !important;
  color: rgba(0, 0, 0, 0.605);
  font-size: 13px !important;
  font-weight: 300;
}
.footer a:hover {
  text-decoration: underline !important;
}

@media screen and (max-width: 1000px) {
  .resopnsive-width {
    width: 100%;
    align-items: start;
    margin-left: 0px;
  }
  .erp {
    width: 100% !important;
    margin-left: 0px !important;
  }
}
